@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <h1 class="display-4">Sign Up</h1>

    @if (TempData["SignUpMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SignUpMessage"]
        </div>
    }
    else if (TempData["SignUpErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["SignUpErrorMessage"]
        </div>
    }
    else
    {
     
    }
</div>
